[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/brett/Desktop/Trader Workstation.desktop]
row=0
col=1

[46fe158a-542d-4faa-bba8-835a43babde5]
row=0
col=0

[B176-7DEB]
row=1
col=0

[8ad5fa07-20f5-42df-ac9c-ab1e150eb412]
row=2
col=0

[tmp]
row=3
col=0

[/]
row=4
col=0

[/home/brett]
row=5
col=0

