[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[tmp]
row=3
col=0

[b9490bbf-d77e-43a6-ad2f-a3cc21ac91f6]
row=0
col=0

[A221-C7D0]
row=1
col=0

[e7c64185-8abb-40f2-8001-e8aeaae9653d]
row=2
col=0

[/]
row=4
col=0

[/home/brett]
row=5
col=0

