[Desktop Entry]
Name=Bluetooth Adapters
Comment=Set Bluetooth Adapter Properties
Exec=blueman-adapters
Icon=blueman-device
Terminal=false
Type=Application
Categories=GTK;HardwareSettings;Settings;X-XFCE;X-XFCE-SettingsDialog;
StartupNotify=true
OnlyShowIn=XFCE;MATE;
NoDisplay=false
X-XfceSettingsName=Bluetooth
X-XfcePluggable=true
