[Desktop Entry]
Version=1.1
Type=Application
Name=Authy
NoDisplay=true
Icon=chrome-gaedmjdfmmahhbjefcbgaolhhanlaolb-Default
Exec=/usr/bin/chromium --profile-directory=Default --app-id=gaedmjdfmmahhbjefcbgaolhhanlaolb
Actions=
Categories=chrome-apps;
StartupWMClass=crx_gaedmjdfmmahhbjefcbgaolhhanlaolb
