#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Logitech Unifying for Chrome
Exec=/usr/bin/chromium --profile-directory=Default --app-id=agpmgihmmmfkbhckmciedmhincdggomo
Icon=chrome-agpmgihmmmfkbhckmciedmhincdggomo-Default
StartupWMClass=crx_agpmgihmmmfkbhckmciedmhincdggomo
