[Desktop Entry]
Type=Application
Name=Cryptomator
Comment=AppImage
Exec=/home/brett/Appimages/cryptomator.AppImage
Icon=/home/brett/Appimages/icons/cryptomator-icon.png
Terminal=false
Path=
StartupNotify=false
