[Desktop Entry]
Type=Application
Name=Github-Desktop
Comment=
Icon=/home/brett/Pictures/github-icon.png
Exec=/home/brett/Appimages/GitHubDesktop-linux-2.9.0-linux4.AppImage
Terminal=false
Catgories=Development
Path=
StartupNotify=false
