[Desktop Entry]
Type=Application
Name=Github-Desktop
Comment=
Icon=/home/brett/Pictures/github-icon.png
Exec=/usr/bin/github-desktop
Terminal=false
Catgories=Development
Path=
StartupNotify=false
Hidden=true

