[Desktop Entry]
Type=Application
Name=Github
Comment=AppImage
Exec=/home/brett/Appimages/GitHubDesktop-linux-2.9.0-linux4.AppImage
Icon=/home/brett/Appimages/icons/github-icon.png
Terminal=false
Path=
StartupNotify=false
