[Desktop Entry]
Version=1.0
Name=Keep
Comment=Keep
Exec=/home/brett/Webapps/Keep-linux-x64/./Keep
Terminal=false
Type=Application
Categories=Internet
Icon=keep
StartupNotify=false
Path=
