[Desktop Entry]
Version=1.0
Name=Netflix
Comment=Netflix (Ice SSB)
Exec=firefox --class ICE-SSB-netflix --profile /home/brett/.local/share/ice/firefox/netflix --no-remote https://www.netflix.com/browse
IceFirefox=netflix
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/brett/Pictures/netflix.png
Categories=GTK;Network;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=ICE-SSB-netflix
StartupNotify=true
Path=
