[Desktop Entry]
Version=1.0
Name=Protonmail
Comment=Protonmail
Exec=/home/brett/Webapps/Protonmail-linux-x64/./Protonmail
Terminal=false
Type=Application
Categories=Internet
Icon=protonmail
StartupNotify=false
Path=
