[Desktop Entry]
Version=1.0
Name=Twitter
Comment=Twitter
Exec=/home/brett/Webapps/Twitter-linux-x64/./Twitter
Terminal=false
Type=Application
Categories=Internet
Icon=twitter
StartupNotify=false
Path=
