[Desktop Entry]
Version=1.0
Name=Whatsapp
Comment=Whatsapp (Ice SSB)
Exec=firefox --class ICE-SSB-whatsapp --profile /home/brett/.local/share/ice/firefox/whatsapp --no-remote https://web.whatsapp.com/
IceFirefox=whatsapp
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/brett/.local/share/ice/whatsapp.jpg
Categories=GTK;Network;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=ICE-SSB-whatsapp
StartupNotify=true
