[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=xfce terminal
Comment=
Exec=exo-open --launch TerminalEmulator
StartupNotify=false
Terminal=
Hidden=false

